[submodule "test/integration/test_w_common"]
	path = test/integration/test_w_common
	url = https://github.com/haapp/serverspec-w_common.git
[submodule "test/fixtures/roles"]
	path = test/fixtures/roles
	url = https://github.com/haapp/serverspec-roles.git
[submodule "test/fixtures/environments"]
	path = test/fixtures/environments
	url = https://github.com/haapp/serverspec-environments.git
